body {
    background-color: lightblue;
    text-align: center;
}

.title {
    height: 150px;
}

.button {
    display: inline-block;
    min-width: 60px;
    height: 35px;
    border-radius: 5px;
    background-color: royalblue;
    border-color: silver;
    color: white;
    margin:8px;
}

.delBut {
    display: inline-block;
    min-width: 60px;
    background-color: magenta;
    color: white;
}
 

#add-topic {
    height: 35px;
    border-radius: 5px;
    background-color: orangered;
    border-color: orange;
    color: white;
    margin:8px;
}

#buttonBox {
    width: 650px;
    display: inline-block;
   
}

.box {
    text-align: center;
    border-style: solid;
    border-color:  darkgray;
    background-color: gray;
    width: 387px;
    height: 220px;
    padding: 5px;
    float: left;
    overflow: hidden;
    padding-bottom: 25px;
}

.saveBox {
    text-align: center;
    border-style: solid;
    color: orangered;
    border-color:  darkgray;
    background-color: lightgray;
    width: 387px;
    padding: 5px;
    float: left;
    overflow: hidden;
}

.gif {
    display: inline-block;
    opacity: 0.4;
}

#output {
    margin-left: 85px;
    margin-right: 85px;
    width: auto;
  
}

#saved {
    display: inline-block;
}

.saveBut {
    display: inline-block;
    background-color: aquamarine;
}

#gifNum {
    width: 30px;
}

@media only screen and (max-width : 800px) {
    body {
        
        background-color: red;

    }

    #input {
        height: 25px;
    }

    .title {
        width: 300px;
    }

    #gifNum {
        width: 40px;
        height: 25px;
    }

    #buttonBox {
        width: 350px;
        
    }

    .button {
        min-width: 80px;
        height: 45px;
    }

    #output {
        display: inline-block;
        width: 300px;
        margin: 0;
    }

    .saveBox {
        width: 300px;
    }

    .box {
        width: 300px;
        margin-bottom: 5px;
        
    }
    
}