body {
    background-color: lightblue;
}

.button {
    min-width: 60px;
    height: 35px;
    border-radius: 5px;
    background-color: royalblue;
    border-color: silver;
    color: white;
    margin:8px;
}

.box {
    text-align: center;
    border-style: solid;
    border-color: green;
    background-color: gray;
    max-width: 400px;
    height: 220px;
    padding: 5px;
    float: left;
    overflow: hidden;
}

.gif {
    display: inline-block;
}

#output {
    margin-left: 80px;
  
}

#gifNum {
    width: 30px;
}